.container {
    padding: 10rem 0 0 2.5rem;
    min-height: 100vh;
    background-repeat: no-repeat;
    background-image: url(../../../public/img/bg.png);
    background-size: cover;
}

.infoContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.heading {
    color: var(--darkViolet);
    font-size: 4.5rem;
}

.subtitle {
    color: var(--lightViolet);
    font-size: 1.8rem;
    margin: 1.5rem 0;
}

.getStarted {
    display: inline-block;
    transition: .35s;
    background: var(--darkViolet);
    color: var(--white);
    font-size: 1.7rem;
    padding: 1rem 5rem;
    border-radius: 3rem;
    max-width: 30rem;
    border: 2px solid transparent;

    &:hover {
        background-color: transparent;
        border-color: var(--darkViolet);
        color: var(--darkViolet);
    }
}

@media (min-width: 768px) {
    .container {
        padding-left: 5rem;
    }

    .heading {
        font-size: 6.5rem;
    }

    .subtitle {
        font-size: 2.8rem;
    }

    .getStarted {
        margin-top: 2rem;
        font-size: 2.4rem;
    }
}

#pc,
#todos,
#math {
    transition: 0.35s;
    position: fixed;
    width: 15rem;
}

#donut,
#boxes,
#planet {
    transition: 0.35s;
    position: fixed;
    width: 8rem;
}

#pc {
    bottom: 0;
    left: 2%;
    animation: pc 2.25s infinite alternate-reverse;
}

@keyframes pc {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(-15px);
    }
}

#planet {
    bottom: 2rem;
    left: 40%;
    animation: planet 2.25s infinite alternate-reverse;
}

@keyframes planet {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(15px);
    }
}

#todos {
    left: 30%;
    bottom: 12rem;
    animation: todos 2s infinite alternate-reverse;
}

@keyframes todos {
    from {
        transform: translateY(0) rotate(0);
    }

    to {
        transform: translateY(-15px) rotate(-10deg);
    }
}

#math {
    bottom: 3rem;
    right: 5%;
    animation: math 2s infinite alternate-reverse;
}

@keyframes math {
    from {
        transform: translateY(0) rotate(0);
    }

    to {
        transform: translateY(-15px) rotate(10deg);
    }
}

#boxes {
    right: 8%;
    bottom: 20rem;
    animation: boxes 1.85s infinite alternate-reverse;
}

@keyframes boxes {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(-10px);
    }
}

#donut {
    left: 5%;
    bottom: 17rem;
    animation: donut 1.85s infinite alternate-reverse;
}

@keyframes donut {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(15px);
    }
}

@media (min-width: 768px) {
    #pc,
    #todos,
    #math {
        width: 20rem;
    }

    #donut,
    #boxes,
    #planet {
        width: 10rem;
    }

    #pc {
        left: 15%;
    }

    #planet {
        left: 40%;
    }

    #todos {
        left: 35%;
    }

    #donut {
        bottom: 25%;
        left: 20%;
    }

    #math {
        right: 15%;
    }

    #boxes {
        bottom: 35%;
        right: 25%;
    }
}

@media (min-width: 1100px) {
    .container {
        padding: 0 8rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #pc {
        left: auto;
        bottom: 35%;
        right: 20%;
    }

    #planet {
        left: auto;
        bottom: 5%;
        right: 5%;
    }

    #todos {
        left: auto;
        right: 2%;
        bottom: 20%;
    }

    #donut {
        left: auto;
        right: 38%;
        bottom: 5%;
    }

    #math {
        left: auto;
        bottom: 5%;
        right: 20%;
    }

    #boxes {
        left: auto;
        bottom: 50%;
        right: 5%;
    }
}
